.pageHistory {
  &--wrap {
    width: 100%;
    background-color: white;

    .MuiListItemText-secondary {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }

  &--title {
    .MuiListItemText-primary {
      font-weight: 900;
      margin-bottom: 10px;
    }
  }

  &--buttonBox {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0px;
  }

  &--filter {
    width: 200px;
  }

  &--item {
      cursor: pointer;
  }
}
