.pageHistory {
  &--wrap {
      width: 100%;
      background-color: white;

      .MuiListItemText-secondary {
          display: flex;
          width: 100%;
          justify-content: space-around;
      }
  }
}
