.buttons {
  &-backgroundColor {
    &-white {
      background-color: white !important;
      color: black !important;
    }
  }

  &-color {
    &-white {
      color: white !important;
      border-color: white !important;
    }
  }
}
