.cardCharacter {
  &--wrap {
    .MuiPaper-root {
      border-radius: 30px;
      min-height: 400px px;
    }
  }
  &--content {
    display: flex;
  }
  &--img {
    max-width: 265px;
    max-height: 200px;
  }
  //   &--text {
  //     min-height: 160px;
  //   }
}
