.cardCharacter {
  &--wrap {
    .MuiPaper-root {
      border-radius: 30px;
      max-height: 200px;
    }
  }
  &--content {
    display: flex;
  }
  &--img {
    max-width: 265px;
    max-height: 200px;
  }
    &--link {
      text-decoration: none;
    }
}
