.pageSignUp {
  &--wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &--avatar {
    background-color: greenyellow !important;
    margin-bottom: 15px;
  }

  &--title {
    margin-bottom: 15px !important;
  }

  &--inputBox {
    margin-bottom: 15px !important;
  }

  &--submitButton {
    margin-bottom: 15px !important;
  }
}
